/clases/ConceptosBasicos/nbproject/private/diagramaBD.img
/clases/ConceptosBasicos/build/
/tareas/JavaApplication4/nbproject/private/
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLibro/build/
/tareas/TareaLibro/dist/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/tareas/Composicion/nbproject/private/
/tareas/Composicion/build/
/clases/JavaBasico2209/nbproject/private/
/clases/JavaBasico2209/build/
/clases/Cuentahabiente/nbproject/private/
/clases/PruebaEjemplo/nbproject/private/
/clases/PruebaEjemplo/build/
/clases/PruebaEjemplo/dist/
